extends layout

block content
   h2 About Us
   p 
   | Matt and Jessica met during the summer of 2010.
   | Jessica was enjoying the last half of summer after her first year of college at Loras in Dubuque,IA. Matt was living 3 hours away in Des Moines, doing an internship in software development. One weekend, Matt decided to make a trip back home to spend some time with another friend. That night, he was invited to go to a bonfire at another friends house. Luck would have it that he was introduced to a person he had never met, but apparently knew who he was. Jessica! Something about her kept his interest, because he came back the next weekend and ended up hanging out in a group with her again. On the way back home he couldnt help but wonder what she though of him, and the bigger question. How could he get her number? 
   p
   | Fast forward 3 years. Matt graduated in 2011 from Wartburg, and started working in Des Moines for a major risk managment firm in software development. Jessica is almost finished with her Bachelors in Nursing after getting her biology bachelors degree in 3 years! They are currently planning their wedding, and making plans for their future! 
