!!! 5
html(lang='en')
head
    meta(charset='utf-8')
    title=title 
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
    style .navbar{margin-bottom:10px;}
 body
    .navbar.navbar-inverse
      .navbar-inner
        .container
          button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='/') MattAndJessica.us 
          .nav-collapse.collapse
            ul.nav
              li.dropdown
                a(href='#',data-toggle='dropdown').dropdown-toggle The Wedding 
                ul.dropdown-menu
                  li
                    a(href='/about') About Us   
                  li
                    a(href='/proposal') The Proposal
                  li
                    a(href='/ceremony') Ceremony
                  li
                    a(href='/reception') Reception
                  li
                    a(href='/weddingparty') Wedding Party
                  li
                    a(href='/registries') Gift Registries
                  li
                    a(href='/photos') Photos
                  li
                    a(href='/honeymoon') Honeymoon
              li
                a(href='/blog') Blog 
              li
                a(href='/contact') Contact Us
    .container
        h4 
          b Matt 
          | and 
          b Jessica
          span#themessage
        block content
         
        
    script(type='text/javascript', src='http://code.jquery.com/jquery-1.9.1.min.js')
    script(type='text/javascript', src='http://code.jquery.com/jquery-migrate-1.1.1.min.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    script 
        $(function(){ 
          var elem = $("#themessage"); 
          var then = new Date("09/21/2013 00:00:00"); 
          var now = new Date();
          var span = Math.ceil(Math.abs(now-then) / 86400000);
          if(now < then){
              elem.text(" will be married in "+span+" days!");
          }else{
              elem.text(" have been married for "+span+" days!");
          }
        });
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38648463-1']);
      _gaq.push(['_trackPageview']);
      (function() {              
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

                              
