extends layout

block content
    h2 The Proposal
    p 
    | Matt and Jessica had been planning a trip to North Carolina for vacation for several months in the Spring of 2012. Matt had already talked to Jessica's parents and received their blessing, and had already went with his sister to pick out the ring. The only thing left to do was plan how to ask the question. After throwing out several scenarios, including getting caught with it by airport security and then popping the question right there, he decided to just go for it 2 weeks before they left on vacation.

    p 
    | Jessica came down that weekend to relax and hang out, and he went into the bedroom to get the ring out. She almost didnt let him ask the question before saying yes! 
    div.container-fluid   
        img(src="/img/thering.jpg", alt='the engagement ring', height="480", width="600") 
