extends layout

block content
    p The reception will follow the ceremony. It will be at the Festina Community Center
    p Festina is between West Union and Calmar on highway 150, it doesnt have it's own zip code, so watch out for that when looking it up!
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=en&amp;q=festina+iowa&amp;ie=UTF8&amp;hq=&amp;hnear=Festina,+Washington,+Winneshiek,+Iowa&amp;gl=us&amp;ll=43.119419,-91.867105&amp;spn=0.017479,0.038452&amp;t=m&amp;z=14&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?hl=en&amp;q=festina+iowa&amp;ie=UTF8&amp;hq=&amp;hnear=Festina,+Washington,+Winneshiek,+Iowa&amp;gl=us&amp;ll=43.119419,-91.867105&amp;spn=0.017479,0.038452&amp;t=m&amp;z=14&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
