extends layout

block content
    h2 The Wedding Party
    h4 Christine (maid-of-honor/sister-of-bride)
    img(src='/img/christine.jpg',alt='christine and jess',height='240',width='320')
    h4 Mandy (sister-of-groom)
    img(src='/img/mandy.jpg',alt='mandy and jess', height='240', width='320')
    h4 Allie (friend-of-couple)
    img(src='/img/allie.jpg', alt='allie and jess', height='240', width='320')
    h4 Natalie (friend-of-couple)
    img(src='/img/natalie.jpg', alt='nat and jess', height='240', width='320')
    h4 Callie (friend-of-couple)
    img(src='/img/callie.jpg', alt='callie and jess', height='240', width='320')
    h4 Sean (best man)
    img(src='/img/sean.jpg', alt='sean and matt', height='240', width='320')
    h4 John (friend-of-couple)
    img(src='/img/john.jpg', alt='john and matt', height='240', width='320')
    h4 Matt (friend-of-couple)
    img(src='/img/wilson.jpg', alt='wilson and matt', height='240', width='320')
    h4 Matt (brother-of-bride)
    img(src='/img/brothermatt.jpg', alt='matt', height='240', width='320')
    h4 Joey (brother-of-bride)
    img(src='/img/joey.jpg', alt='joey', height='240', width='320')
